/* Full-page container with a gradient background */
.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(135deg, #81FFEF 10%, #F067B4 100%);
}

/* Style for the home box */
.home-box {
  background-image: linear-gradient(135deg, #dfe9f3 10%, #ffffff 100%);
  width: 400px;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
  animation: fadeIn 1s ease-in-out; /* Add fade-in animation */
}

/* Image container */
.image-container img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
  border: 2px solid #81FFEF; /* Adds a border to the image */
}

/* Heading style */
.heading-tag h1 {
  color: black;
  font-size: 24px;
  margin-bottom: 20px;
}

/* Buttons container */
.button-container {
  display: flex;
  gap: 30px;
}

/* Button styles */
.button-container button {
  width: 100px;
  padding: 12px;
  background-image: linear-gradient(135deg, #FAD0C4 10%, #FFD1FF 100%);
  border-radius: 10px;
  color: #000000;
  border: none;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
}

.button-container button:hover {
  background-image: linear-gradient(135deg, #e9defa 10%, #fbfcdb 100%);
  transform: translateY(-2px);

}

/* Fade-in animation (copied from profile.css) */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
